# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
client/node_modules/
server/node_modules/

# Build outputs
dist/
client/dist/
server/dist/

# Runtime files
*.tsbuildinfo

# Environment variables (be sure to add any .env files here)
.env
.env.*
server/.env

# OS-specific files
.DS_Store
Thumbs.db

# IDE / Editor specific
.vscode/
.idea/

# Cache
.cache/
coverage/
